<div class='col-sm-12 col-md-12 col-lg-6'>
  <div class="card">

    <%= post.body.html_safe %>
    <div class="card-block">
      <h4 class="card-title"><%= post.title%></h4>
      <% unless post.tag_list.blank? %>
        <p class="tags"><%= post.tags.map { |t| link_to t.name, posts_path(tag: t.name) }.join(', ').html_safe %></p>
      <% end %>
      <p class='published-date'><%= post.display_day_published %></p>
    </div>
  </div>
</div>
