body {
  background-color: $light-gray;
}

h1, h2, h3, h4, h5, h6, p {
  color: $primary-text-color;
}

h1, .card-title {
  font-weight: bold;
}

h6 {
  color: $secondary-text-color;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, p span {
  font-family: 'Roboto Slab', serif !important;
  font-size: 20px;
}

img {
    max-width: 100%;
}

.btn {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  .btn-primary {
    background-color: $accent-color !important;
  }
}

.navbar-toggler-icon {
  border-color: $accent-color;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,165,226,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
